/**
* Include all generator styles
* jQuery Mobile stylesheet Reset
*/

.font-normal {
    font-weight:normal;
}

.text-left {
    text-align:left;
}

.text-center {
    text-align:center;
}

.full-width {
    width:100%;
}

.no-border {
    border:none;
}

.text-normal {
    font-weight:normal;
}

.page-background {
        background-color:@theme-background;
}

.ps {
    color:@theme-color;
    font-size:12px;
}

.width100 {
    width:100%;
}